body, html {
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.navbar {
  z-index: 1;
}

header {
  position: relative;
  width: 100%;
  background: url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
  z-index: 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(229, 233, 242, 0.8);
  z-index: 0;
}

.header-content {
  text-align: center;
  position: relative;
  top: 25%;
  width: 50%;
  z-index: 1;
  h2 {
    color: #242425;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
  }
}

.small-heading {
  padding-bottom: 2%;
  h6 {
    font-weight: 300;
  }
}

.btn-container {
  padding: 2%;
}

.btn-ghost {
  /* padding: 2% 3% 2% 4%; */
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-color: rgb(58, 59, 60);
  z-index: 3;
  width: 35%;
  height: 50px;
  font-size: .9rem;
  transition: .3s background ease-in-out;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background: rgba(71, 82, 94, 0.4);
  }
}

section > .container {
  margin: 100px auto 100px auto;
}

.section-description {
  margin-top: 15px;
}

section.editors-choice {
  > {
    .container {
      margin: 50px auto 100px auto;
    }
    .section-title {
      height: 100px;
      background: #E9F2ED;
    }
  }
  .section-title > h2 {
    line-height: 3;
  }
}

.item {
  margin-top: 5%;
}

.item-image img {
  max-height: 210px;
  height: 210px;
}

.item-description {
  text-align: center;
  padding: 4%;
}

/* banner section */

section.banner {
  width: 100%;
  height: 300px;
  background: url("../img/banner.jpg");
  margin: 150px auto 0px auto;
}

.banner h1 {
  position: relative;
  margin-top: 100px;
  color: #fff;
}

/* footer */

footer {
  position: relative;
  bottom: 0;
  background: #47525E;
  padding: 3%;
  color: #fff;
}

/* login page*/

.login-container {
  padding: 5%;
}

/* general use classes */

/* ghost button */

.btn-ghost-2 {
  /*padding: 2% 3% 2% 4%;*/
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-color: #0275D8;
  z-index: 3;
  width: 35%;
  height: 50px;
  transition: .3s background ease-in-out;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: .9rem;
  &:hover {
    cursor: pointer;
  }
}

.img {
  width: 100%;
}

.divider {
  width: 100%;
  height: 100px;
  background: #E9F2ED;
}

/* smooth shadow to imitate float z*/

.shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  o-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
