$primary: #0275d8;
$grey: #efefef;
$light-grey: #e9f2ed;
$dark-grey: #242425;
$white: #fff;
$black: #000;
$darker-grey: #47525e;

$light-overlay: rgb(229, 233, 242);

$hover-opacity: rgb(71, 82, 94);
